
img {
	width: 20%;
}

table, th, td {
    border: 1px solid black;
}

h1 {
	display:inline;
}

h2 {
	text-align: center;
}

th, td {
    padding: 15px;
}

th {
    text-align: justify;
}

div.columnbase { display: flex; }
div.col1 { width: 33%; }
div.col2 { width: 66% }

.red-text { color: red }
.orange-text { color: orange }
.yellow-text { color: yellow }
.green-text { color: green }
.blue-text { color: blue }
.indigo-text { color: indigo }
.violet-text { color: violet }

#lorem {

cursor: pointer;
text-decoration: underline;


}

#bottles {

cursor: pointer;
text-decoration: underline;

}

#last {

cursor: pointer;
text-decoration: underline;

}

